@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sacramento&family=Syne+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FAF8F1];
  padding: 0 5vw;
  margin: 5rem auto 0 auto;
  height: auto;
  font-family: var(--ff-inter);
}

#mono {
  font-family: var(--ff-syne);
}

#cursive {
  font-family: var(--ff-sacr);
}

#inter {
  font-family: var(--ff-inter);
}

:root {
  --ff-sacr: 'Sacramento', cursive;
  --ff-syne: 'Syne Mono', monospace;
  --ff-inter: 'Inter', sans-serif;
}