/* @import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Jacquard+24&family=Manufacturing+Consent&family=Pirata+One&family=Rock+3D&family=Rubik+Puddles&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sacramento&family=Syne+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-[#643843]; */
  @apply bg-[#FAF8F1];
  /* display: flex; */
  margin: 2rem;
  /* height: 200vh; */
  font-family: var(--ff-syne);
  /* flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow-y: auto;
  justify-content: left;
  width: auto; */
}

.logo {
  font-family: var(--ff-syne);
}

#header-div {
  font-family: var(--ff-syne);
}

#name {
  font-family: var(--ff-sacr);
}

#footer {
  font-family: var(--ff-syne);
}

/* #about {
  font-family: var(--ff-syne);
} */

.nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #8EB486;
  font-size: 1rem;
  font-family: var(--ff-syne);
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: underline;
  border: #8EB486 double 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: justify;
}

.leaves {
  width: 10%;
  border-radius: 10rem;
}

/* .hhello {
  color: #8EB486;
  font-size: 3rem;
  font-family: var(--ff-rock);
} */

.PicDeMoi {
  width: 80vw;
  border-radius: 30rem;
}


/* .line {
  color: #8EB486;
  text-decoration: dotted;
} */

#home-buttons {
  font-family: var(--ff-syne);
}

#body {
  font-family: var(--ff-inter);
  font-weight: 300;
  font-style: thin;
}

#enchante {
  font-family: var(--ff-sacr);
}

:root {
  --ff-sacr: 'Sacramento', cursive;
  --ff-syne: 'Syne Mono', monospace;
  --ff-inter: 'Inter', sans-serif;
}